# Este es un archivo de ejemplo.
# Copia este archivo a .env y reemplaza los valores con tu configuración.

# --- Configuración de Red ---
WEBSOCKET_HOST=0.0.0.0
WEBSOCKET_PORT=8765

# --- Configuración de Modelos ---
# Modelos de Whisper: "tiny", "base", "small", "medium", "large"
WHISPER_MODEL_SIZE=base
OLLAMA_MODEL=llama3:8b-instruct-q4_K_M
TTS_MODEL=tts_models/multilingual/multi-dataset/xtts_v2
TTS_SPEAKER_WAV=samples/alejandro_sample_v2.wav
